In [1]:
import requests
import pandas as pd

In [2]:
state = input("Insira a sigla do estado que deseja buscar as respectivas cidades")
url = "https://servicodados.ibge.gov.br/api/v1/localidades/estados/{}/distritos".format(state)
response = requests.request("GET",url)
result = pd.DataFrame(response.json())
result

Insira a sigla do estado que deseja buscar as respectivas cidades PB

,id,nome,municipio
0,250010605,Água Branca,"{'id': 2500106, 'nome': 'Água Branca', 'micror..."
1,250020505,Aguiar,"{'id': 2500205, 'nome': 'Aguiar', 'microrregia..."
2,250030405,Alagoa Grande,"{'id': 2500304, 'nome': 'Alagoa Grande', 'micr..."
3,250040305,Alagoa Nova,"{'id': 2500403, 'nome': 'Alagoa Nova', 'micror..."
4,250050205,Alagoinha,"{'id': 2500502, 'nome': 'Alagoinha', 'microrre..."
...,...,...,...
292,251700110,Mata Virgem,"{'id': 2517001, 'nome': 'Umbuzeiro', 'microrre..."
293,251710005,Várzea,"{'id': 2517100, 'nome': 'Várzea', 'microrregia..."
294,251720905,Vieirópolis,"{'id': 2517209, 'nome': 'Vieirópolis', 'micror..."
295,250550105,Vista Serrana,"{'id': 2505501, 'nome': 'Vista Serrana', 'micr..."
296,251740705,Zabelê,"{'id': 2517407, 'nome': 'Zabelê', 'microrregia..."