import pandas as pd

In [ ]:
import pandas as pd

In [12]:
base = pd.read_json('https://servicodados.ibge.gov.br/api/v2/censos/nomes/ranking/?decada=1990')

In [18]:
base.head()
#base.shape
display(base)

  localidade  sexo                                                res
0         BR   NaN  [{'nome': 'MARIA', 'frequencia': 917968, 'rank...

In [20]:
dicti = { "funcionarios": ["Luiz", "Maria", "Júlia"],
          "vendas": [12000, 18000, 98000],
          "comissao": [15,10,5]
}
dicti

{'funcionarios': ['Luiz', 'Maria', 'Júlia'],
 'vendas': [12000, 18000, 98000],
 'comissao': [15, 10, 5]}

In [21]:
basedict = pd.DataFrame(dicti)
basedict

  funcionarios  vendas  comissao
0         Luiz   12000        15
1        Maria   18000        10
2        Júlia   98000         5